bin/Debug/netcoreapp2.2/AilawaAPI.deps.json
bin/Debug/netcoreapp2.2/AilawaAPI.dll
bin/Debug/netcoreapp2.2/AilawaAPI.pdb
bin/Debug/netcoreapp2.2/AilawaAPI.runtimeconfig.dev.json
bin/Debug/netcoreapp2.2/AilawaAPI.runtimeconfig.json
obj/Debug/netcoreapp2.2/AilawaAPI.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.2/AilawaAPI.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.2/AilawaAPI.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.2/AilawaAPI.dll
obj/Debug/netcoreapp2.2/AilawaAPI.pdb
obj/Debug/netcoreapp2.2/AilawaAPI.RazorTargetAssemblyInfo.cache


